Source: prown
Priority: optional
Maintainer: Scibian Project <project@scibian.org>
Build-Depends:
 debhelper (>= 10),
 libbsd-dev,
 libacl1-dev,
 cppcheck,
 pandoc
Standards-Version: 3.9.6
Section: admin

Package: prown
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Description: Get ownership a projects files
 This packages provides Prwn, a tool deisgned to give users the possibility to
 get ownership of files in projects directories. It uses the configuration file
 /etc/prown.conf to specify the projects directory. When a user specify one or
 multiple directories, Prown verifoes the user permissions and change
 recursively the owner of the directory to that user.
